
.cityDetails  {
    padding-top: 1rem;
    &__back{
        padding-left: 0.5rem;
    }
    h2 {
        margin-top: 2rem;
       text-align: center;
    }
    &__list{

        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}
